.dotnet/
.DS_Store
.vs/
.idea*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts*/
[Bb]in/
coverage
coverage.*
junit.xml
MSBuild_Logs/
node_modules/
[Oo]bj/
PublishProfiles
TestResults/
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
*.binlog
*.db
*.db-shm
*.db-wal
*.DotSettings
*.GhostDoc.xml
*.log
*.nuget.props
*.nupkg
!.packages/*.nupkg
*.opensdf
*.pdb
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
*.nupkg
!.packages/*.nupkg
test/WebSites/CliExample/wwwroot/api-docs/v1/*.json
test/WebSites/CliExampleWithFactory/wwwroot/api-docs/v1/*.json
test/WebSites/NswagClientExample/NSwagClient/
*ncrunch*
*.received.*
