[Oo]bj/
[Bb]in/
.vs/
.vscode/
.idea*
node_modules/
*.user
*.pdb
artifacts/
*.nuget.props
.DS_Store
Thumbs.db
test/WebSites/CliExample/wwwroot/api-docs/v1/*.json
test/WebSites/CliExampleWithFactory/wwwroot/api-docs/v1/*.json
test/WebSites/NswagClientExample/NSwagClient/
*ncrunch*