<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- TODO Remove before merging to dotnet-vnext -->
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- TODO Remove before merging to dotnet-vnext -->
    <packageSource key="dotnet10">
      <package pattern="*" />
    </packageSource>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
